* {
    margin: 0;
    padding: 0;
}
 
.footer {
    min-height: 80px;
    min-width: 100%;
    background-color: var(--black-color);
    position: fixed;
    bottom: 0;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

