.only-for {
    font-size: 20px;
    margin-top: 100px;
    color: var(--highest-color);
}

#description {
    resize: none;
    width: 400px;
    height: 100px;
    background-color: inherit;
    border: 2px solid var(--black-color);
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}