.task-modal {
    min-width: 350px;
    background: inherit;
    backdrop-filter: blur(50px);
    padding: 0 50px 50px 50px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid var(--white-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
}

.inputs p {
    font-size: 18px;
    color: var(--white-color);
}

.inputs h2 {
    color: var(--white-color);
}