.form-container {
    display: flex;
}

.left {
    flex: 1;
    margin-right: 30px; 
}

.right {
    flex: 1;
}

.inputs {
    margin-bottom: 10px;
}

.form-task {
    background: rgb(107,87,245);
    background: linear-gradient(180deg, rgba(107,87,245,1) 0%, rgba(148,237,250,1) 100%);
    padding: 0 50px 50px 50px;
    width: 850px;
    border-radius: 20px;
    border: 5px solid var(--black-color);
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#description-task{
    resize: none;
    width: 400px;
    height: 233px;
    background-color: inherit;
    border: 2px solid var(--black-color);
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.close-task-window {
    color: var(--black-color);
    cursor: pointer;
    transition: 200ms ease-in-out;
    position: absolute;
    right: 50px;
    top: 10px;
}

.close-task-window:hover {
    transform: scale(1.1);
    color: var(--highest-color);
}

.layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный черный цвет */
    z-index: 99; /* Убедитесь, что этот слой над модальным окном */
}